<mat-toolbar color="white">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()" [ngStyle]="{'color':'white'}">A</mat-icon>
    </button>
    <h1 class="titlefontstyle">Alive</h1>
    <h1 class="dot">.</h1>
    <span class="menu-spacer"></span>
    <div>
      <a class="titlefontstyle" mat-button [routerLink]="'/home'"> Home </a>
      <a class="titlefontstyle" mat-button [routerLink]="'/stressmgmt'"> Stress Management </a>
      <a class="titlefontstyle" mat-button [routerLink]="'/blogs'"> Blogs </a>
      <a class="titlefontstyle" mat-button [routerLink]="'/videos'"> Videos </a>
      <a class="titlefontstyle" mat-button [routerLink]="'/music'"> Music </a>
      <a class="titlefontstyle" mat-button [routerLink]="'/about'"> About </a>
      <a class="titlefontstyle" mat-button [routerLink]="'/contactus'"> Contact Us</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav style="background-image: url('assets/images/peaks.jpg');">
    <mat-nav-list>
 
      <a class="titlefontstyle" mat-list-item [routerLink]="'/selfassessment'"> How are you today? </a>
      <a class="titlefontstyle" mat-list-item [routerLink]="'/music'"> Music therapy </a>
      <a class="titlefontstyle" mat-list-item [routerLink]="'/memes'"> Meme Therapy </a>
      <a class="titlefontstyle" mat-list-item [routerLink]="'/blogs'"> Read Therapy </a>
      <a class="titlefontstyle" mat-list-item [routerLink]="'/oppurtunities'">  Oppurtunities</a>
      <a class="titlefontstyle" mat-list-item [routerLink]="'/skills'"> Learn something new!</a>
      <a class="titlefontstyle" mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
